@import "bootstrap/dist/css/bootstrap.min.css";
.menu {
  color: rgba(0, 0, 0, 0.705);
  text-decoration: none;
  padding-left: 10px;
}
.menu.active {
  color: rgb(0, 59, 252);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.App {
  font-family: sans-serif;
  text-align: center;
  }
  

.img {
  display: flex;
  justify-content: center;
}

.card_body {
  padding-left: 5px;
}

.pokemonCard {
  display: flex;
  padding: 2%;
}

.pokemonCardImg {
  width: 100%;
  filter: drop-shadow(5px 5px 5px #222);
}

.pokemonDetails {
  margin: 10%;
  display: flex;
  flex-direction: row-reverse;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.btn {
  margin-top: 10px;
  width: 175px;
  color: #2431df;
  background-color: #eed812;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: #252525;
}

.btn:focus {
  outline: none;
  border-color: #777;
  background-color: #777;
}

.detalles {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding-top: 50px;
}

.selectorPokemon {
  text-align:center;
}

.seccionPoke {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Card {
  background-color: #777;
  color: white;
  padding-bottom: 30px;
}

.home img{
  filter: drop-shadow(5px 5px 5px #222);
}

.logo img{
  filter: drop-shadow(5px 5px 5px #222);
}

.navegar{
  font-weight: bold;
  font-size: 20px;
}